* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:  udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    color: #1c1d1f
    font-size: 1.6rem;
   
}
nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}
nav.nav div.logo img{
    width: 91px;
    height: 54px;
}
nav.nav a.category {
    text-decoration: none;
    color: black;
}
nav.nav input {
    border-radius: 50px;
    border: 1px solid #1c1d1f;
    width: 400px;
    height: 50px;
}
a.svg svg {
    width: 25px;
    color: black;
}
nav.nav a.text {
    text-decoration: none;
    color: black;
}
a.login button{
    color: #1c1d1f;
    background-color:  transparent;
    border: 1px solid #1c1d1f;
    width: 80px;
    height: 40px;
}
nav.nav a.signup button{
    background-color: #1c1d1f;
    color: white;
    width: 80px;
    height: 40px;
}
a.svg button.world {
    color: #1c1d1f;
    background-color:  transparent;
    border: 1px solid #1c1d1f;
}
div.intro {
    position: absolute;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 2.4rem;
    top: 3.4rem;
    width: 34rem;
    left: 4.8rem;
}
div.wrapper div.texts {
    margin-top: 20px;
    line-height: 2;
}
div.texts ul.list {
    display: flex;
    list-style-type: none;
}
div.texts ul.list li {
    margin-left: 25px;
    color: #1c1d1f;
}
ul.lists li.python {
    color: black;
    font-weight: bold;
}
div.wrapper div.career {
    margin: 17px;
    border: 1px solid #1c1d1f;
    padding: 3.2rem;
    
}
div.expand {
    display: block;
    margin-bottom: 3.2rem;
}
div.expand a {
    text-decoration: none;
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    height: 4rem;
}
div.career div.groups {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    position: relative;
}
div.groups div.picture img {
    border: 1px solid #1c1d1f;
}
div.career div.fourth img{
    width: 240px;
    height: 135px;
}
div.icons div.display1 {
    display: flex;
    gap: 20px;
}
div.icons div.display2 {
    display: flex;
    gap: 20px;
}
div.icons div.display3 {
    display: flex;
    gap: 20px;
}
#svg svg {
    border-radius: 50px;
} /**/
div.icons {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
div.nextgroup {
    padding: 3.2rem;
}
#nextimage {
    display: flex;
    gap: 15px;
}
#topics {
   display: flex;
   gap: 180px;
   padding: 30px;
}
#topics li {
    list-style-type: none;
}
.moretopics .explorebutton button{
    margin: 20px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    font-weight: bold;
    font-size: 0.8rem;
}
div.sec div.trusted {
    text-align: center;
}
div.sec div.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 30px;
}
section div.logo img {
    width: 91px;
    height: 54px;
}
section.section {
    display: flex;
    padding: 100px;
    gap: 50px;
    font-size:20px ;
}
.sectiontext .logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.sectiontext .logo p {
    color: blueviolet;
    font-size: 30px;
}


section.section2 {
    display: flex;
    padding: 100px;
    gap: 50px;
    font-size:20px ;
    align-items: center;
}
a button.button {
    height: 40px;
    margin-top: 10px;
}
#footers {
    display: flex;
    gap: 180px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.811);
 }
 #footers li {
    list-style-type: none;
 }
 #footers li a {
    text-decoration: none;
    color: white;
 }

